*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    padding: 20px;
}

.contact-container {
    max-width: 600px;
    margin: auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.contact-image {
    width: 100%;
    max-width: 250px;
    object-fit: contain;
    margin-bottom: 20px;
} 

.contact-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .contact-container {
        padding: 20px;
    }

    .contact-image {
        max-width: 200px;
    }

    .contact-form button {
        width: 100%;
    }
}